
/* scroll top button */
#scroll-top {
    position: fixed;
    z-index: 100000;
    right: 20px;
    bottom: 20px;
    background: transparent;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    border: 1px solid var(--black);
    transition: .5s;
    cursor: pointer;
}
#scroll-top:hover {
    background: #ccc;
}
/* end scroll top button */
